.todo__item{
    border-bottom: 1px solid #aaa;
    padding: 1rem;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-items: center;


    p, .normal{
       width: auto;
       font-size: 1.2rem;
       cursor: pointer;
       color: #fff;
    }

    span{
        width: auto;
        font-weight: bolder;
        color:#fff ;
        
    }

    .completed{
        text-decoration-line: line-through;
        text-decoration-color: #888;
        color: #888;
        font-style: italic;
    }
}